/* =======================
      Colors
==========================*/

:root {
    --bodyBG: #1a1a1a;
    --bodyFont: #ffffff;
    --blue: #407dc4;
    --blue-button: #1976d2;
    --red-button: #e41d43;
  
    --icons: #ffffff;
  
    --footer-bg: #000000;
  
    --white: #fff;
  }
  
  body {
    background-color: var(--bodyBG);
    color: white;
  }
  
  /* =======================
         My classes
  ==========================*/
  
  .border {
    border: 4px solid red;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  /* =================
      General Style
  ====================*/
  
  * {
    margin: 0;
    padding: 0;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
  
  html {
    font-family: system-ui, -apple-system, "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  ::-webkit-scrollbar {
    width: 0.88rem;
  }
  
  ::-webkit-scrollbar-track {
    border: 7px solid #292c3b;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: #d4d4d8;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  html {
    scrollbar-color: #1a1a1a #3d4a59;
  }
  
  main {
    width: 80%;
    margin-inline: auto;
  }
  
  @media (width < 600px) {
    main {
      width: 100%;
    }
  }
  
  /* =======================
         HTML elements
  ==========================*/
  a,
  button {
    all: unset;
    display: inline-block;
    transition: 0.2s;
  }
  
  button:active,
  a:active {
    scale: 0.9;
  }
  
  button:hover,
  a:hover {
    cursor: pointer;
  }
  
  button:disabled{
    opacity: 0.7;
    cursor: not-allowed;
    scale: 1;
  }
  
  li {
    list-style: none;
  }
  
  /* =======================================
      General Style for this project
  ==========================================*/
  .fa-solid {
    color: var(--icons);
  }
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .product-card {
    flex: 1 1 calc(33.333% - 1em);
  }
  @media (max-width: 768px) {
    .product-card {
      width: 100%;
      margin-bottom: 1em;
    }
  }
  .container {
    width: 100%;
    padding: 1em;
  }
